@model FI.PORTAL.ViewModels.CollectionVM
@using PagedList.Mvc;

@{
    ViewBag.Title = "Collection Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentSort = Session["sorting"].ToString();
}


@Styles.Render("~/Content/PagedList.css")

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">

                    <div style="padding:1%">
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label for="sort_menu">Sort: </label>
                            </div>
                            <div class="col-auto my-1">
                                <select id="sort_menu" class="custom-select mr-sm-2" name="sortby" onchange="sortChange()">
                                    @if (currentSort == "All")
                                    {
                                        <option value="All" selected>All</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Acknowledged">Acknowledged</option>
                                    }
                                    else if (currentSort == "Pending")
                                    {
                                        <option value="All">All</option>
                                        <option value="Pending" selected>Pending</option>
                                        <option value="Acknowledged">Acknowledged</option>
                                    }
                                    else if (currentSort == "Acknowledged")
                                    {
                                        <option value="All">All</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Acknowledged" selected>Acknowledged</option>
                                    }
                                </select>
                            </div>

                        </div>
                    </div>


                    @*<div style="padding:1%">
                            <div class="form-row align-items-center">
                                <div class="col-auto my-1">
                                    <label for="sort_menu">Area: </label>
                                </div>
                                <div class="col-auto my-1">
                                    <select id="area_menu" class="custom-select mr-sm-2" name="sortby" onchange="areaChange(this)">
                                        @foreach (var item in Model.areas)
                                        {
                                            if (item.SalesCode.Equals(currentArea))
                                            {
                                                <option value="@item.SalesCode" selected>@item.AreaName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.SalesCode">@item.AreaName</option>
                                            }

                                        }
                                    </select>
                                </div>

                            </div>
                        </div>*@

                    <div style="padding:1%">
                        @*<form action="@Url.Action("SearchCollection", "Collection")" method="get">*@
                        <div class="form-row align-items-center">
                            <div class="col-auto my-1">
                                <label for="search_by">Search By: </label>
                            </div>
                            <div class="col-auto my-1">
                                <select id="search_by" class="custom-select mr-sm-2">
                                    <option value="Sales_Code">Sales Code</option>
                                    <option value="Area">Area</option>
                                    <option value="Rep_Name">REP Name</option>
                                </select>
                            </div>
                            <div class="col-auto my-1">
                                <input type="text" class="form-control" id="search_value" />
                            </div>
                            <div class="col-auto my-1">
                                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CollectionHome", "Collection")'">Reset</button>
                            </div>
                        </div>
                        @*</form>*@
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Collection Requests</h4>
            </div>
            <div class="card-body">

                <div id="secposts" class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered small" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Collection ID</th>
                                    <th>Created Date</th>
                                    <th>Sales Code</th>
                                    <th>Area Name</th>
                                    <th>Created By</th>
                                    <th>Acknowledge</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="collections_data">
                                @if (Model.collection.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="7">No Records Found!</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in Model.collection)
                                    {
                                        <tr>
                                            <td>@item.collection_no</td>
                                            <td>@item.collection_date</td>
                                            <td>@item.sales_code</td>
                                            <td>@item.area_name</td>
                                            <td>@item.created_by</td>
                                            <td>
                                                @if (item.acknowledge == true)
                                                {<h6><span class="badge badge-success">Acknowledged</span></h6>}
                                                else
                                                { <h6><span class="badge badge-warning">Pending</span></h6>}
                                            </td>
                                            <td>
                                                <a href="@Url.Action("CollectionView", new { item.collection_no})" class="btn btn-success btn-sm">View</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>


                        Page @(this.Model.collection.PageNumber) of  @this.Model.collection.PageCount

                        <div style="float:right">
                            @Html.PagedListPager(Model.collection, page => Url.Action("CollectionHome", new { page }))
                        </div>




                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function () {
        $("#search_value").on('input', function () {
            var SearchBy = $("#search_by").val();
            var SearchVal = $("#search_value").val();
            var SetData = $("#collections_data");
            SetData.html("");
            $.ajax({
                type: "post",
                url: "/Collection/SearchData?SearchBy=" + SearchBy + "&SearchValue=" + SearchVal,
                contentType: "html",
                async: false,
                success: function (result) {
                    if (result.length == 0) {
                        SetData.append('<tr><td colspan="7">No data found!</td></tr>')
                    } else {
                        $.each(result, function (index, value) {
                            var date = new Date(parseInt(value.collection_date.substr(6)));
                            var statusBadge;
                            var collection_view = "<a href='CollectionView?collection_no=" + value.collection_no + "' class='btn btn-success btn-sm'>View</a>"

                            if (value.acknowledge) {
                                statusBadge = "<h6><span class='badge badge-success'>Acknowledged</span></h6>"
                            } else {
                                statusBadge = "<h6><span class='badge badge-warning'>Pending</span></h6>"
                            };

                            var Data = "<tr>" +
                                "<td>" + value.collection_no + "</td>" +
                                "<td>" + date.toLocaleString() + "</td>" +
                                "<td>" + value.sales_code + "</td>" +
                                "<td>" + value.area_name + "</td>" +
                                "<td>" + value.created_by + "</td>" +
                                "<td>" + statusBadge + "</td>" + "<td>" + collection_view + "</td>" + "</tr>"

                            SetData.append(Data)
                        })
                    }
                }
            })
        })
    })



    function sortChange() {
        var selected = document.getElementById("sort_menu").value;

        $.ajax({
            type: 'POST',
            url: '/Collection/sortAction',
            dataType: 'json',
            data: { sort: selected },
            success: function (result) {
                location.reload()
            }
        });
    }

    function areaChange(sel) {
        var selected = document.getElementById("area_menu").value;
        var text = sel.options[sel.selectedIndex].text;

        $.ajax({
            type: 'POST',
            url: '/Collection/areaAction',
            dataType: 'json',
            data: { area: selected, areaName: text },
            success: function (result) {
                location.reload()
            }
        });
    }
</script>
